*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #CBD9E8;
  text-align: center;
}

.center{
  max-width: 960px;
  margin:0 auto;
  padding:0 2%;
  display: flex;
}
.logo{
  
}
.main{
  padding:30px 0;

}

.conteudo-single{
  margin-top: 30px;
}

.logo-abaixo{
  margin-top: 20px;
}

.funcao{
  margin-top: 40px;
}

.contato{
  margin-top: 40px;
  text-align: center;
}

.centralizar{
  text-align: center;
}

.distancia{
  margin-bottom: 10px;
}

.cont{
  background-color: #dee4eb;
  border-radius: 10px;
  margin: 5px;
}
.conte{
  background-color: #dee4eb;
  border-radius: 10px;
  margin: 10px; 
}

.visualização{
  margin-top: 40px;
}